<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/assets/blogs-73dff2a24e59b9f1398dc585a0e7f496.js"></script>
    <script type="text/javascript">
      $(function() {
        window.router = new Blog.Routers.PostsRouter(<%- initialData %>);
      });
    </script>
  </head>
  <body>
    <div id="posts"></div>
  </body>
</html>
