<h1>New post</h1>

<form id="new-post",name="post">
  <div class="field">
    <label> Title:
      <input type = "text" name='title' id="title" value="<%=title%>">
   </label>
  </div>
  <div class="field">
    <label> Content:
      <input type="text" name='content' id="content" value="<%=content%>">
   </label>
  </div>
  <div class="actions">
    <input type='submit' value="Create Post">
  </div>
</form>
<a href="#/index">Back</a>
